@page
@model Exwhyzee.Wimbig.Web.Areas.Admin.Pages.SectionManagement.IndexModel
@{
    ViewData["Title"] = "Section Management";
}

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Section Management <small> </small></h3>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel table-responsive">
                    <div class="x_title">
                        <h2>List Of Sections &nbsp; &nbsp; <a class="btn btn-sm btn-primary" asp-page="/SectionManagement/CreateSection"> Add Section</a></h2>

                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a title="Collapse Table" class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>

                            <li>
                                <a class="close-link" title="Hide Table"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="table-responsive">
                            <table class="table dataTable table-striped jambo_table bulk_action" id="table">
                                <thead>
                                    <tr class="headings">

                                        <th class="column-title">Name </th>
                                        <th class="column-title">Description </th>
                                        
                                        <th class="column-title">DateCreated </th>
                                        <th class="column-title">Action</th>
                                      
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Sections)
                                    {
                                    <tr class="even pointer">

                                        <td> @item.Name</td>
                                        <td> @item.Description</td>

                                        <td>@item.DateCreated.ToShortDateString()</td>
                                        <td>
                                            <a asp-page="./EditSection" class="btn btn-warning btn-xs" asp-route-id="@item.SectionId">Edit Raffle</a>
                                        </td>
                                    </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
@section scripts{
    <script type="text/javascript">
        $("table").DataTable();
    </script>
}
