@page
@model Exwhyzee.Wimbig.Web.Areas.Admin.Pages.CategoryManagement.CreateCategoryModel
@{
}

<div class="right_col" role="main">
    <div class="">

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel table-responsive">
                    <div class="x_title">
                        <h2>Create Section <small> @ViewData["Error"]</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>

                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form asp-route-returnUrl="@Model.ReturnUrl" class="form-horizontal form-label-left" method="post" nov>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                    Select Section <span class="required">*</span>
                                </label>
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <select class="form-control" asp-for="CreateCategoryVM.CreateCategoryDto.SectionId" asp-items="@(new SelectList(Model.Sections, "SectionId", "Name"))">
                                        <option value="" disabled selected>Select a Section</option>
                                    </select>

                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                Category Name <span class="required">*</span>
                                </label>
                                <div class="col-md-4 col-sm-6 col-xs-12">                                   
                                    <input  class="form-control" asp-for="CreateCategoryVM.CreateCategoryDto.Name" autofocus required="required" type="text" placeholder="Enter Category Name">                                        
                                   
                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="textarea">
                                    Description <span class="required">*</span>
                                </label>
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <textarea rows="5" id="description" placeholder="Description of this category" asp-for="CreateCategoryVM.CreateCategoryDto.Description" required="required" name="CreateCategoryVM.CreateCategoryDto.Description" class="form-control col-md-7 col-xs-12"></textarea>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                     <button href="#" class="btn btn-primary" asp-route="/SectionManagement/Index">Cancel</button>
                                    <button id="submit" type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>