@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}



<style>
    .register-wimbig input {
        background-color: #fff !important;
        border-color: #110e0e !important;
    }

    .dashboard-main-disc input.form-control {
        height: 45px;
        background-color: #fff !important;
        border-radius: 0px !important;
    }
</style>
<section class="ad-breadcrumb parallex">
    <div class="container page-banner">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <h1>Reset password confirmation<span style="font-size:12px;font-weight:900;"></span></h1>
            </div>
            <div class="col-sm-6 col-md-6">
                <ol class="breadcrumb pull-right flip flip">
                    <li><a href="#">Play Small... WinBig...</a></li>

                </ol>
            </div>
        </div>
    </div>
</section>
<section class="dashboard" style="background-color:#ffffff;">

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="dashboard-main-disc">
                <div class="login-box-inner">
                    <p>
                        Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
                    </p>
                </div>

            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</section>
<div class="clearfix"></div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
