@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}
<style>
    .register-wimbig input {
        background-color: #fff !important;
        border-color: #110e0e !important;
    }

    .dashboard-main-disc input.form-control {
        height: 45px;
        background-color: #fff !important;
        border-radius: 0px !important;
    }
</style>
<section class="ad-breadcrumb parallex">
    <div class="container page-banner">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <h1>Reset your password <span style="font-size:12px;font-weight:900;"></span></h1>
            </div>
            <div class="col-sm-6 col-md-6">
                <ol class="breadcrumb pull-right flip flip">
                    <li><a href="#">Play Small... WinBig...</a></li>

                </ol>
            </div>
        </div>
    </div>
</section>
<section class="dashboard" style="background-color:#ffffff;">

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="dashboard-main-disc">
                <div class="login-box-inner">
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input asp-for="Input.Id" value="@Model.LoggedInUser" type="hidden" name="Input.Id">

                        <div class="form-group">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.ConfirmPassword"></label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <button type="submit" class="btn btn-default col-xs-12" style="border-radius:0px !important;">Reset</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</section>
<div class="clearfix"></div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


