@using Microsoft.AspNetCore.Identity
@using Exwhyzee.Wimbig.Core.Authorization.Users

@inject SignInManager<ApplicationUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm">
        <div class="profile-btn profile-wim">
            <button type="submit" class="submit-btn btn pull-right" style="font-size:12px;">LOGOUT</button>
        </div>
        
    </form>
}

<style>
    .profile-wim button:hover{
        color:#ffffff !important;
    }
</style>