<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="~/images/wimbig fav.png" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>WIMBIG | Play Small... WinBig...</title>
    <!-- Bootstrap -->
    <link href="~/ThemeBack/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/ThemeBack/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/ThemeBack/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/ThemeBack/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="~/ThemeBack/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="~/ThemeBack/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="~/ThemeBack/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <link href="~/ThemeBack/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/ThemeBack/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="~/ThemeBack/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="~/ThemeBack/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="~/ThemeBack/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/ThemeBack/build/css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="#" class="site_title"> <span>Supervisor</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <partial name="./ThemeBackPartials/_AdminProfilePartial.cshtml" />

                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>Navigation</h3>
                            <ul class="nav side-menu">
                                <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard <span class="label label-success pull-right">Welcome</span></a></li>

                                <li>
                                    <a><i class="fa fa-home"></i> Reference <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a asp-area="StakeHolders" asp-page="/UserData/Index"> My Reference</a></li>

                                    </ul>
                                </li>
                            </ul>
                        </div>


                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <partial name="./ThemeBackPartials/_AdminLogoutPartial.cshtml" />

                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <!-- top tiles -->
                <div class="row tile_count">
                    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                        <span class="count_top"><i class="fa fa-ticket"></i> Total Stakes [Today]</span>
                        <div class="count">2500</div>
                        <a asp-area="SuperAdmin" asp-page="/Dashboard/Stakes" class="btn btn-success btn-xs">View Stakes</a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                        <span class="count_top"><i class="fa fa-users"></i> Total Super Agents </span>
                        <div class="count">123</div>

                        <a asp-area="SuperAdmin" asp-page="/Dashboard/SuperAgents" class="btn btn-success btn-xs">View Super Agents</a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                        <span class="count_top"><i class="fa fa-users"></i> Total Agents </span>
                        <div class="count">123</div>

                        <a asp-area="SuperAdmin" asp-page="/Dashboard/Agents" class="btn btn-success btn-xs">View Agents</a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                        <span class="count_top"><i class="fa fa-users"></i> Total Supervisors </span>
                        <div class="count">123</div>

                        <a asp-area="SuperAdmin" asp-page="/Dashboard/Supervisors" class="btn btn-success btn-xs">View Supervisors</a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                        <span class="count_top"><i class="fa fa-user"></i> Total DGAs</span>
                        <div class="count green">2,500</div>
                        <a asp-area="SuperAdmin" asp-page="/Dashboard/DGAs" class="btn btn-success btn-xs">View DGAs</a>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                        <span class="count_top"><i class="fa fa-users"></i> Total Users</span>
                        <div class="count">7,325</div>
                        <a asp-area="SuperAdmin" asp-page="/Dashboard/Users" class="btn btn-success btn-xs">View Users</a>
                    </div>
                </div>
                <!-- /top tiles -->

                @RenderBody()
            </div>

            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!-- jQuery -->
    <script src="~/ThemeBack/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/ThemeBack/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/ThemeBack/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/ThemeBack/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="~/ThemeBack/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="~/ThemeBack/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/ThemeBack/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/ThemeBack/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="~/ThemeBack/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="~/ThemeBack/vendors/Flot/jquery.flot.js"></script>
    <script src="~/ThemeBack/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="~/ThemeBack/vendors/Flot/jquery.flot.time.js"></script>
    <script src="~/ThemeBack/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="~/ThemeBack/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="~/ThemeBack/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/ThemeBack/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/ThemeBack/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="~/ThemeBack/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="~/ThemeBack/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="~/ThemeBack/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/ThemeBack/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/ThemeBack/vendors/moment/min/moment.min.js"></script>
    <script src="~/ThemeBack/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

    <script src="~/ThemeBack/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/ThemeBack/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/ThemeBack/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/ThemeBack/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/ThemeBack/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/ThemeBack/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/ThemeBack/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/ThemeBack/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/ThemeBack/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/ThemeBack/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/ThemeBack/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/ThemeBack/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="~/ThemeBack/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/ThemeBack/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/ThemeBack/vendors/pdfmake/build/vfs_fonts.js"></script>


    <!-- Custom Theme Scripts -->
    <script src="~/ThemeBack/build/js/custom.min.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
