@{
    ViewData["Title"] = "Contact";

}
<style>
    .contact_block H4 {
        border-bottom: 1px solid #000000;
    }

    .contact_block li, H4 {
        color: #000000 !important;
    }

    .contact-us input {
        border: 1px solid #000000;
    }
</style>
<section class="ad-breadcrumb parallex">
    <div class="container page-banner">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <h1>Contact Us</h1>
            </div>
            <div class="col-sm-6 col-md-6 hidden-sm hidden-xs">
                <ol class="breadcrumb pull-right flip flip">
                    <li><a href="#">Play Small... WinBig...</a></li>

                </ol>
            </div>
        </div>
    </div>
</section>
<section class="contact-us" style="padding-top:20px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">

                <div class="col-md-8 col-sm-8 col-xs-12">
                    <form class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Name <span class="required">*</span></label>
                                <input placeholder="" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Email <span class="required">*</span></label>
                                <input placeholder="" class="form-control" type="email">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Phone <span class="required">*</span></label>
                                <input placeholder="" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Subject <span class="required">*</span></label>
                                <input placeholder="" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <label>Message <span class="required">*</span></label>
                                <textarea cols="6" rows="8" placeholder="" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <a href="" class="btn btn-default"> Send Message <i class="fa fa-angle-double-right"></i> </a>
                        </div>
                    </form>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="contact_block" style="background-color:#ffffff;color:#000000;">
                        <h4>Contact Information</h4>
                        <ul class="personal-info">
                            <li><i class="fa fa-map-marker"></i> Efab Mall, Ahmadu Bello way Suite 20/21, Extension Building Block E, Area 11, Gariki, Abuja</li>
                            <li><i class="fa fa-envelope"></i> Support@wimbig.com</li>
                            <li><i class="fa fa-phone"></i> + 234 802 9991 100 </li>
                            <li><i class="fa fa-clock-o"></i> 24/7</li>
                        </ul>
                        <ul class="social-network social-circle">
                            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>