<!-- CONTENT -->
<div class="site-content red-theme">
    <div class="bannerPage section">

        <div class="banner-page-component component  white-text variation-l2-fixed     " data-component-name="bannerPage">

            <div class="media-tile">

                <div class="img-item" style="background-image: url(/content/dam/servicenow/images/company-asset/media-asset/images/sn-press-room-banner.jpg.imgw.1920.1080.jpg);"
                     data-desktop-img="/content/dam/servicenow/images/company-asset/media-asset/images/sn-press-room-banner.jpg.imgw.1920.1080.jpg"
                     data-mobile-img="/content/dam/servicenow/images/company-asset/media-asset/images/sn-press-room-banner.jpg.imgw.1920.1080.jpg">

                </div>
            </div>

            <div class="banner-caption">
                <div class="container caption middle center">
                    <div class="caption-row">
                        <div class="caption-col">

                            <div class="component text-component title-block">
                                <h1>

                                    Contact Us

                                </h1>
                            </div>

                            <div class="component text-component text-block">
                                <p></p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .pyramid-nav-component {
        width: 100%;
        text-align: center;
    }
    @@media (min-width: 992px){
.pyramid-nav-component .nav-item {
    width: 160px;
}}

    @@media (min-width: 768px) {
        .pyramid-nav-component .nav-item {
            display: inline-block;
            width: 120px;
        }
    }
    .pyramid-nav-component .nav-item {
        display: inline-block;
        width: 100px;
        font-size: 12px;
        vertical-align: middle;
        text-align: center;
    }
    .pyramid-nav-component ul {
        background-color: #2c2c2c;
        padding: 0;
        margin: 0;
        list-style: none;
        margin: 0 auto;
    }
    .pyramid-nav-component .nav-item a.active {
        opacity: 1;
        border-top: 4px solid #e51b24;
    }
    @@media (min-width: 768px) {
        .pyramid-nav-component .nav-item a {
            padding-top: 21px;
            padding-bottom: 25px;
        }
    }
    .pyramid-nav-component .nav-item a {
        padding-top: 17px;
        padding-bottom: 19px;
        position: relative;
        display: block;
        color: #fff;
        opacity: .3;
        transition: opacity 250ms ease;
        font-weight: 500;
        font-style: normal;
        text-transform: uppercase;
        border-top: 4px solid #2c2c2c;
    }
    .pyramid-nav-component ul li a {
        display: block;
    }
    .site-content li a {
        color: #293e40;
        padding-bottom: 0.3rem;
        background-image: -webkit-linear-gradient(to right,#81b5a1 50%,transparent 50%);
        background-image: -moz-linear-gradient(to right,#81b5a1 50%,transparent 50%);
        background-image: -ms-linear-gradient(to right,#81b5a1 50%,transparent 50%);
        background-image: -o-linear-gradient(to right,#81b5a1 50%,transparent 50%);
        background-image: linear-gradient(to right,#81b5a1 50%,transparent 50%);
        background-size: 205% 2px;
        background-repeat: no-repeat;
        background-position: bottom right;
        -webkit-transition: all 0.25s linear;
        -moz-transition: all 0.25s linear;
        transition: all 0.25s linear;
    }
    .site-content li a {
        color: #293e40;
        padding-bottom: none !important;
        background-image: -webkit-linear-gradient() !important;
        background-image: -moz-linear-gradient() !important;
        background-image: -ms-linear-gradient() !important;
        background-image: -o-linear-gradient() !important;
        background-image: linear-gradient() !important;
        background-size: none !important;
        background-repeat: none !important;
        background-position: none !important;
        -webkit-transition: none !important;
        -moz-transition: none !important;
        transition: none !important;
    }
    @@media (min-width: 768px) {
        .contact-sub-nav-component {
            display: block;
        }
    }
    .contact-sub-nav-component {
        color: #fff;
        display: none;
        width: 100%;
        height: 104px;
        background-color: #373737;
    }
    nav-component .subnav-text {
        padding: 40px 0;
        text-align: center;
        font-weight: 300;
    }
</style>