
@{
    ViewData["Title"] = "Howtoplay";
}

<section class="ad-breadcrumb parallex">
    <div class="container page-banner">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <h1>How To Play</h1>
            </div>
            <div class="col-sm-6 col-md-6 hidden-sm hidden-xs">
                <ol class="breadcrumb pull-right flip flip">
                    <li><a href="#">Play Small... WinBig...</a></li>

                </ol>
            </div>
        </div>
    </div>
</section>
<section class="how-it-work">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <ul style="list-style-type:circle;">
                    <li>
                        To play wimbig, you need to first register by clicking on the register icon on the top right corner of the wimbig website and filling in the required fields, then go back to the homepage and login.
                    </li>
                    <li>
                        Next, recharge your account via Bank top up/transfer by clicking on your user name found at the top right hand corner of the site. Once your wimbig page opens, select top up, input the amount and follow the prompts to fund to wimwallet.
                    </li>
                    <li>
                        To play the game after funding your wallet, click on any raffle on the homepage. A new page comes up, then select play now. A new page of lucky numbers pops up. Click on any number of your choice, one number for one ticket, two numbers for two tickets and of course twice the cost of one ticket. Select continue when you’re done with number selection, to play.
                    </li>
                    <li>
                        The price for the ticket is automatically deducted from your wimwallet and your ticket registered for a draw.
                    </li>
                    <li>
                        Winners will be notified via email or call from wimbig dedicated customer care lines and further instructions given.
                    </li>
                </ul>

            </div>
</div>
</div>
</section>