
@{
    ViewData["Title"] = "License";
}


<section class="ad-breadcrumb parallex">
    <div class="container page-banner">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <h1>Wimbig Licence</h1>
            </div>
            <div class="col-sm-6 col-md-6 hidden-sm hidden-xs">
                <ol class="breadcrumb pull-right flip flip">
                    <li><a href="#">Play Small... WinBig...</a></li>

                </ol>
            </div>
        </div>
    </div>
</section>
<section class="about-us" style="padding-top:20px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center" style="border-right:2px solid #6bc242;">
                <div class="img-responsive">
                    <a href="~/main/wimbig/lotterywimbig.jpg"> <img src="~/main/wimbig/lotterywimbig.jpg" style="max-width:300px;margin:auto;" /></a>
                </div>
                <h3>
                    Licensed by National Lottery Regulatory Commission
                </h3>
            </div>
            <div class="col-md-6 text-center">
                <div class="img-responsive">
                    <a href="~/main/wimbig/regwimbig.jpg"> <img src="~/main/wimbig/regwimbig.jpg" style="max-width:300px;margin:auto" /></a>
                </div>
                <h3>
                    Certificate of Incorporation
                </h3>
            </div>
        </div>
    </div>
</section>