@{
    ViewData["Title"] = "Privacy Policy";

}

<section class="ad-breadcrumb parallex">
    <div class="container page-banner">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <h1>Privacy</h1>
            </div>
            <div class="col-sm-6 col-md-6 hidden-sm hidden-xs">
                <ol class="breadcrumb pull-right flip flip">
                    <li><a href="#">Play Small... WinBig...</a></li>

                </ol>
            </div>
        </div>
    </div>
</section>@*background-color:#0d0c0c;color:#ffffff;*@
<section class="about-us" style="padding-top:20px;">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-12 col-xs-12">
            </div>

            <div class="col-md-8 col-sm-6 col-xs-12">

                <ul style="list-style-type:decimal">
                    <li>
                        Wimbig is a platform that enables its users to enter real competitions to win real prizes. Multiple competitions are hosted on Wimbig at any given time and users have no obligation to enter.
                    </li>
                    <li>
                        Wimbig is conscious of your privacy. Hence we assure our users that their information provided on our platform (wimbig.com) is secured and private. Wimbig system collects members’ personal identifiable information that includes:

                        <ul style="list-style-type:square;margin-left:40px;">
                            <li> Your Name</li>
                            <li>Your Email</li>
                            <li>Your contact phone Number</li>
                            <li>Age</li>
                            <li>Sex</li>
                            <li>GSM Network provider</li>

                        </ul>
                    </li>
                    <li>
                        Your Name is needed to verify the information provided in case of unscrupulous practices that do not concur with the laws of Nigeria.
                    </li>
                    <li>
                        Your Email is required for online notification purposes.
                    </li>
                    <li>
                        Your Phone number serves as your subsequent login information and personal identifier linking you to all the above information. This unique identifier (your Nigerian phone number) will be verified upon registration with a One-Time-Pass (OTP).
                    </li>
                    <li>
                        Your information will not be shared with unauthorized persons or entities. Proper measures are in place to ensure the safety and confidentiality of your personal information.
                    </li>
                    <li>
                        We do not handle Payment Collection/Settlement platform where you are required to enter your Bank Credit/Debit Card information for registration payments. It is wholly handled by a secure payment platform approved by the Central Bank of Nigeria for online payment collection and settlement.
                    </li>
                    <li>
                        By signing up on Wimbig.com and using our mobile application, you agree that your information may be used for the above purposes. Changes to our privacy statement will be carried out without pre informing you and such information will be communicated to you accordingly. These changes will be considered acceptable by you after you have received notice of it.
                    </li>
                    <li>
                        If at any point you chose to send us correspondence including emails and letters, we will retain such information in the records of your account. We will also retain customer service correspondence and other correspondence from wimbig.com to you. The motive for this retention is to keep records of our relationship, measure and improve customer service and to investigate potential fraud and violations of our User Agreement. From time to time, we may offer optional questionnaires and surveys to our users for such purposes as collecting demographic information or assessing users' interests and needs.
                    </li>
                    <li>
                        Adequate information on why such information may be required will be made available.
                    </li>
                    <li>
                        We are keen to managing customer information with the highest standards of information security. We use computer safeguard such as firewalls and data encryption, enforce physical access to our buildings and files. Authorized access to your personal information is granted only to employees who require it to fulfill their job responsibilities.
                    </li>
                    <li>
                        The security of your wimbig.com account is also partially dependent on your personal protection of your PASSWORD. You should not share your PASSWORD with anyone and no employee of Wimbig.com.
                    </li>
                    <li>
                        Should you share your password with any third parties, such third parties will have access to your account and your personal information and you will be held accountable for any actions taken using this information. If at any time you suspect a third party has gained access to your password, please log in to your wimbig.com profile, change it and promptly notify admin@wimbig.com.
                    </li>
                    <li>
                        We are responsible for ensuring that our daily procedures with this Privacy Policy are adhered to. Should you have any questions about this privacy statement, information services or your transactions on our platform, you can contact us via our customer help lines or by email to info@wimbig.com
                    </li>

                </ul>


            </div>
            <div class="col-md-2 col-sm-12 col-xs-12">
            </div>
        </div>
    </div>
</section>