
@{
    ViewData["Title"] = "TermandConditions";
}


<section class="ad-breadcrumb parallex">
    <div class="container page-banner">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <h1>Terms and Condition</h1>
            </div>
            <div class="col-sm-6 col-md-6 hidden-sm hidden-xs">
                <ol class="breadcrumb pull-right flip flip">
                    <li><a href="#">Play Small... WinBig...</a></li>

                </ol>
            </div>
        </div>
    </div>
</section>
<section class="about-us" style="padding-top:20px;">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-12 col-xs-12">
            </div>

            <div class="col-md-8 col-sm-6 col-xs-12">

                <ul style="list-style-type:decimal">
                    <li>
                        Online terms and conditions are in addition to any general onsite service terms and conditions.
                    </li>
                    <li>
                        All customers which may include (but not limited to) users and vendors agree that the terms listed below shall govern all service engagement with wimbig.com Our services will be conducted within the framework of the rules listed below plus any other provision that may be added from time to time.
                    </li>
                    <li>
                        Your unique identifier is your mobile number. E.g. 08090000000
                    </li>
                    <li>
                        All registration information provided by the user must be current, complete and accurate. We may decline from awarding a prize if a user's information is inaccurate.
                    </li>
                    <li>
                        The user below the age of 18 must not play WIMBIG. This game is strictly for 18+ customers.
                    </li>
                    <li>
                        Users agree not to use any device, software or routine to interfere or attempt to interfere with the proper working of or any transaction being conducted on and during the auction sale.
                    </li>
                    <li>
                        Each time you use Wimbig, it will act as confirmation that you accept the current version of this policy posted at www.loading.wimbig.com/terms and conditions
                    </li>
                    <li>
                        In order to be legitimate to play for an item, you must be a registered member of Wimbig.com or play under an accredited merchant. Your membership allows us to more accurately identify users and avoid the possibility of false entries. Users expressly authorize Wimbig.com to accept each game entered as an entry out of free will and such entry validated by your payment is not refundable.
                    </li>
                    <li>
                        Only one winner on each game played will emerge and all chances taken after a winner is randomly selected by the system becomes null and void. The system will award a game to one customer whose ticket is randomly selected by the draw machine.
                    </li>
                    <li>
                        The ticket lucky numbers only serve as a unique identifier for several entries by one and or multiple users. For instance, if Ben Onwuka entered 15 chances in one game, and one of his tickets is selected, the system will quickly pull out the ticket, search for the user who played it and associate that ticket to the user's name and phone number.
                    </li>
                    <li>
                        Please note: No two tickets are similar or arranged in the same order. The system will invalidate any attempt to enter two identical tickets twice in one game.
                    </li>
                    <li>
                        You can enter a valid game by paying for your tickets through your funded Wallet. You can top up your Wallet through Bank Transfer or Direct Debit Card Transactions. .
                    </li>
                    <li>
                        Gamers will lose their won items including cash prizes if they fail to provide necessary information towards claiming their prizes within 48 hours.
                    </li>
                    <li>
                        Wimbig cannot, and will not, be held responsible for any interruption in service, errors, and/or omissions, caused by any means and does not guarantee continuous, uninterrupted or error free service or use of the Site. Users acknowledge that this game is conducted electronically and relies on hardware and software that may malfunction without warning. Wimbig in its sole discretion may nullify any win identified as rigged. Wimbig will suspend users who attempted/- manipulated the system to rig the games.
                    </li>
                    <li>
                        Wimbig uses email mailing push notifications/- lists to notify its customers about online and live auctions and or site updates. If you are receiving a particular mailing and wish to discontinue receiving future mailings, simply unsubscribe or disable push notification on your device.
                    </li>
                    <li>
                        Once you place a bid on an item, you will be awarded the item if you win when a draw is carried out. As a user, you are responsible for the number of games you enter into. Thus, you are advised to play responsibly. However, Wimbig can decide to set bid limit in a particular game in order to curb compulsive gambling tendencies and encourage equity and fairness amongst users.
                    </li>
                    <li>
                        The amount of money required to play a game is purely determined by the bid management team. For instance, a game designed to run for 7 days or more before a draw will require players to enter 0.10% value of the advertised item in order to qualify for a draw.
                    </li>
                    <li>
                        The security of your information is your sole responsibility as you, the user will be responsible for all bids placed under your number. If at any time you feel that your number and password have been compromised due to lack of security on your part, you must notify Wimbig immediately.
                    </li>
                    <li>
                        You agree that you will not use any robot, spider, other automatic devices, or manual process to monitor or copy the Site or the content contained herein without our prior, express written permission. You agree that you will not use any device, software or routine to interfere or attempt to interfere with the proper working of the Site or any activity being conducted on the Site.
                    </li>
                    <li>
                        Wimbig may seek any temporary relief from a court of competent jurisdiction in Nigeria necessary to protect the rights or property of Wimbig pending the completion of arbitration. You and Wimbig.com are independent contractors, and no agency, partnership, joint venture, employee or franchiser-franchisee relationship is intended or created by this Agreement.
                    </li>
                    <li>
                        The Site User Agreement and any disputes arising out of or related to the Site shall be governed by and enforced in accordance with, the laws of the Federal Republic of Nigeria applicable to contracts entered and to be performed entirely within the Nigeria state.
                    </li>
                    <li>
                        Wimbig’s failure to act with respect to a breach by you or others does not waive the right to act with respect to subsequent or similar breaches. This Site User Agreement sets forth the entire understanding and agreement between us with respect to the subject matter hereof. Your use of this gaming site marks your acceptance in full of these Terms and Conditions.
                    </li>
                    <li>
                        Without prejudice to our other rights under these terms and conditions, if you breach these terms and conditions in any way, or if we reasonably suspect that you have breached these terms and conditions in any way, we may: (a) Send you one or more formal warnings; (b) Temporarily suspend your access to our website; (c) Permanently prohibit you from accessing our website; (d) Commence legal action against you, whether for breach of contract or otherwise; and/or (e) Suspend or delete your account on our Platform.
                    </li>


                </ul>


            </div>
            <div class="col-md-2 col-sm-12 col-xs-12">
            </div>
        </div>
    </div>
</section>