<ul class="nav side-menu">
    <li><a asp-area="StakeHolders" asp-page="/DGAs/Index"><i class="fa fa-dashboard"></i> Dashboard </a></li>
    <li><a asp-area="Identity" asp-page="/Account/Manage/RaffleHistory"><i class="fa fa-history"></i> Raffle History </a></li>
    <li><a asp-area="Identity" asp-page="/Account/Manage/Index"><i class="fa fa-money"></i> Wallet </a></li>
    <li><a asp-area="StakeHolders" asp-page="/UserData/PayoutHistory"><i class="fa fa-money"></i> Payout </a></li>
    <li><a asp-area="Identity" asp-page="/Account/Manage/UpdateProfile"><i class="fa fa-user"></i> Profile </a></li>
    <li>
        <a asp-area="Identity" asp-page="/Account/Manage/ChangePassword"><i class="fa fa-lock"></i> Change Password</a>
    </li>
    <li><a asp-area="Identity" asp-page="/Account/Manage/WinnerList"><i class="fa fa-user"></i> Winner </a></li>
    <li><a asp-area="Raffles" asp-page="/Raffles/Archieved"><i class="fa fa-archive"></i> Archieved</a></li>



</ul>