<ul class="nav side-menu">
    <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard </a></li>

    <li>
        <a><i class="fa fa-home"></i> Raffles <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li><a asp-area="LotteryCommision" asp-page="/Dashboard/Index"> Raffles </a> </li>
            <li><a asp-area="LotteryCommision" asp-page="/Dashboard/Tickets">Tickets</a> </li>
            <li><a asp-area="LotteryCommision" asp-page="/Dashboard/Winners">Winners</a> </li>

        </ul>
    </li>
</ul>