<div class="profile clearfix">
    <div class="profile_pic">
        <img src="~/images/wimbig fav.png" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
        <span>Welcome</span>
        <h2>@User.Identity.Name</h2>
    </div>
   
</div>