  <!-- footer content -->
<footer>
    <div class="pull-right">
        (C)copyright @DateTime.UtcNow.AddHours(1).Year All rights reserved by <a href="#">WimBig </a> - Play little win big
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->