<!--left navigation-->
<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>WimBig </span></a>
        </div>

        <div class="clearfix"></div>
        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic">
                @*<img src="~/ThemeBack/images/img.jpg" alt="..." class="img-circle profile_img">*@
            </div>
            <div class="profile_info">
                <span><buton><a class="btn btn-primary"  asp-area="" asp-controller="Home" asp-action="Index"> Goto Front Page </a></buton></span>
            </div>
        </div>
      

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                
                <ul class="nav side-menu">
                    <li>
                        <a><i class="fa fa-home"></i> Admin <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="#">Profile Data</a></li>
                            <li><a asp-area="Identity" asp-page="/Account/Manage/ChangePassword">Change Password</a></li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-home"></i> User Management <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a asp-area="UserManagement" asp-page="/Users/Index">Users</a></li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-home"></i> Sections/Categories <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a asp-area="Admin" asp-page="/SectionManagement/Index"> Sections</a></li>
                            <li><a asp-area="Admin" asp-page="/CategoryManagement/Index">Categories</a> </li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-home"></i> Raffle Management <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a asp-area="Admin" asp-page="/RaffleManagement/Index">Raffles</a></li>

                        </ul>
                    </li>
                    <li><a asp-area="Identity" asp-page="/Account/Manage/WinnerList"><i class="fa fa-user"></i> Winner </a></li>

                    <li>
                        <a><i class="fa fa-home"></i> Slider and Side Bar Management <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a asp-area="Admin" asp-page="/Slider/Index">Images</a></li>

                        </ul>
                    </li>
                </ul>
             
            </div>  

        </div>
        
    </div>
</div>
<!--  /left navigation-->
