<!-- top navigation -->
<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            @*<partial name="./ThemeBackPartials/_AdminLogoutPartial.cshtml" />*@
            <partial name="~/Views/Shared/ThemeBackPartials/_AdminLogoutPartial.cshtml" />
        </nav>
    </div>
</div>
<!-- /top navigation -->
