

 <li style="margin:0 !important;">
     <a style="color: #5cb85c;">
         @ViewData["user"]
     </a>
                                </li>
<li style="margin:0 !important;">
    <a>@ViewData["space"]</a>
</li>
                                <li style="margin:0 !important;">
                                    <a style="color: #5cb85c;">@ViewData["balance"]</a>
                                </li>

